body{margin:0;padding:0;}
.container{max-width:800px;margin:0px auto;padding:0 20px;}
h1{text-align:center;}
#posts{margin-bottom:20px;}
.post{border:1px solid #ccc; padding:10px;margin-bottom:10px;}
#post input,
#post textarea{width:100%;margin-bottom:10px;}
#post button{background-color:#4CAF50;color:white;padding:10px 20px;border:none;cursor:pointer;float:right;}
#post button:hover{background-color: L#45A049;}